/.output
/.vscode
/.yt
/PSModules
/Tests/.token
/YouTrackAutomation/Bin
/YouTrackAutomation/CHANGELOG.md
/YouTrackAutomation/LICENSE.txt
/YouTrackAutomation/NOTICE.txt
/YouTrackAutomation/README.md
